# Geral

Etherpad link: http://piratepad.net/vBYPhoe22O

##### Repositório:

https: https://github.com/tpetrone/tera_aula_4.git

ssh: git@github.com:tpetrone/tera_aula_4.git

##### Git commands:
`git clone url`

`cd tera_aula_4`

`jupyter notebook`

# range datatype

In [2]:
r = range(0,20)
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

### Exercício

Use For loop e range datatype para criar uma lista de 20 elementos onde cada elemento é o valor do seu índice acrescido de 5

In [3]:
l = []
for item in range(0,19):
    l.append(item + 5)
print(l)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]

# type() built-in function

atalhos:

métodos: `. + tab`

doc: `shift + tab`

In [12]:
# Playground

l = [1,2,3,4]
type(l)

list

# OOP em Python

##### Referência:
https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex

#### Anotações:

In [ ]:
# Playground

### Numbers

##### Referência
https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex

##### .is_integer() => float

In [16]:
x = 2.0
x.is_integer()

True

### Strings

#### Referência:
https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str

##### .find()

In [18]:
s = "adflsjwhjafjah"
s.find("w")
s[6]

'w'

##### .split()

In [23]:
s = "fdksaj klfds"
s = s.split(" ")
s

['fdksaj', 'klfds']

##### .upper()

In [25]:
s = "dflkasjffsldkja"
s.upper()

'DFLKASJFFSLDKJA'

##### .count()

In [28]:
s = "ksl;jgsdfg"
s.count(";")

1

### Exercícios

A partir da string (que também é uma sequência):

`"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in lorem ultricies ante tristique convallis non in nibh. Aenean congue imperdiet lacus ac suscipit. Donec vitae mauris eget tortor convallis sodales nec in arcu. Pellentesque finibus sapien ut nisl accumsan pulvinar. Praesent vestibulum lacinia tortor, gravida feugiat elit varius vel. Pellentesque viverra dignissim ullamcorper. Integer ac imperdiet magna. Quisque vehicula odio ac justo egestas, at bibendum sem ultrices. Duis eu risus vehicula, aliquam arcu non, porta felis. Fusce tristique tortor ut ante varius tincidunt. In augue urna, imperdiet sed pretium nec, feugiat ac justo. Suspendisse lacus massa, vestibulum ut ex eget, fringilla auctor orci. Nunc molestie tempus vulputate. Curabitur diam purus, imperdiet sed pretium et, pretium vitae nunc."`

1-) Identifique a posição da sequência em que há a ocorrência de `ull`

2-) Divida a string nessa posição

3-) Passe a primeira porção da string para letras maiúsculas e a segunda para minúsculas

4-) Conte quantas vezes a letra "r" aparece

In [40]:
s ="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in lorem ultricies ante tristique convallis non in nibh. Aenean congue imperdiet lacus ac suscipit. Donec vitae mauris eget tortor convallis sodales nec in arcu. Pellentesque finibus sapien ut nisl accumsan pulvinar. Praesent vestibulum lacinia tortor, gravida feugiat elit varius vel. Pellentesque viverra dignissim ullamcorper. Integer ac imperdiet magna. Quisque vehicula odio ac justo egestas, at bibendum sem ultrices. Duis eu risus vehicula, aliquam arcu non, porta felis. Fusce tristique tortor ut ante varius tincidunt. In augue urna, imperdiet sed pretium nec, feugiat ac justo. Suspendisse lacus massa, vestibulum ut ex eget, fringilla auctor orci. Nunc molestie tempus vulputate. Curabitur diam purus, imperdiet sed pretium et, pretium vitae nunc."
print(s.find("ull"))

s1 = s.split("ull")
print(s1)

print(s1[0].upper())
print(s1[1].lower())

print(s.count("r"))

387
['Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in lorem ultricies ante tristique convallis non in nibh. Aenean congue imperdiet lacus ac suscipit. Donec vitae mauris eget tortor convallis sodales nec in arcu. Pellentesque finibus sapien ut nisl accumsan pulvinar. Praesent vestibulum lacinia tortor, gravida feugiat elit varius vel. Pellentesque viverra dignissim ', 'amcorper. Integer ac imperdiet magna. Quisque vehicula odio ac justo egestas, at bibendum sem ultrices. Duis eu risus vehicula, aliquam arcu non, porta felis. Fusce tristique tortor ut ante varius tincidunt. In augue urna, imperdiet sed pretium nec, feugiat ac justo. Suspendisse lacus massa, vestibulum ut ex eget, fringilla auctor orci. Nunc molestie tempus vulputate. Curabitur diam purus, imperdiet sed pretium et, pretium vitae nunc.']
LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT. PELLENTESQUE IN LOREM ULTRICIES ANTE TRISTIQUE CONVALLIS NON IN NIBH. AENEAN CONGUE IMPERDIET LACUS AC SUSCIPIT. DONEC VITAE MAURIS EGET TORTOR CONVALLIS SODALES NEC IN ARCU. PELLENTESQUE FINIBUS SAPIEN UT NISL ACCUMSAN PULVINAR. PRAESENT VESTIBULUM LACINIA TORTOR, GRAVIDA FEUGIAT ELIT VARIUS VEL. PELLENTESQUE VIVERRA DIGNISSIM
amcorper. integer ac imperdiet magna. quisque vehicula odio ac justo egestas, at bibendum sem ultrices. duis eu risus vehicula, aliquam arcu non, porta felis. fusce tristique tortor ut ante varius tincidunt. in augue urna, imperdiet sed pretium nec, feugiat ac justo. suspendisse lacus massa, vestibulum ut ex eget, fringilla auctor orci. nunc molestie tempus vulputate. curabitur diam purus, imperdiet sed pretium et, pretium vitae nunc.
43

## Lists

##### Referência
https://docs.python.org/3/library/stdtypes.html#lists

##### .sort()

In [49]:
l = [1,5,6,8,3,5]
l.sort()
l

[1, 3, 5, 5, 6, 8]

##### .reverse()

In [50]:
l.reverse()
l

[8, 6, 5, 5, 3, 1]

##### .append()

In [51]:
l.append("cinco")
l

[8, 6, 5, 5, 3, 1, 'cinco']

##### .count()

In [52]:
l.count(5)

2

##### .extend()

In [54]:
l.extend([1,3,4,5])
l

[8, 6, 5, 5, 3, 1, 'cinco', 1, 3, 4, 5, 1, 3, 4, 5]

#### Exercício

Dada a lista: 

`[171, 137, 32, 105, 87, 23, 195, 24, 63, 91, 41, 91, 55, 171, 96, 12, 109, 110, 199, 142, 133, 22, 165, 189, 137, 64, 62, 117, 105, 159, 107, 171, 179, 79, 48, 69, 142, 186, 55, 124, 184, 124, 96, 100, 73, 60, 133, 69, 164, 91]`

1-) Coloque a lista em ordem crescente

2-) Coloque a lista em ordem decrescente

3-) Adicione o elemento `312`

4-) Conte quantas vezes o número `91` aparece nessa sequência

In [61]:
#(1)
l = [171, 137, 32, 105, 87, 23, 195, 24, 63, 91, 41, 91, 55, 171, 96, 12, 109, 110, 199, 142, 133, 22, 165, 189, 137, 64, 62, 117, 105, 159, 107, 171, 179, 79, 48, 69, 142, 186, 55, 124, 184, 124, 96, 100, 73, 60, 133, 69, 164, 91]
l.sort()
print(l)

[12, 22, 23, 24, 32, 41, 48, 55, 55, 60, 62, 63, 64, 69, 69, 73, 79, 87, 91, 91, 91, 96, 96, 100, 105, 105, 107, 109, 110, 117, 124, 124, 133, 133, 137, 137, 142, 142, 159, 164, 165, 171, 171, 171, 179, 184, 186, 189, 195, 199]

In [71]:
#(2)
l = [171, 137, 32, 105, 87, 23, 195, 24, 63, 91, 41, 91, 55, 171, 96, 12, 109, 110, 199, 142, 133, 22, 165, 189, 137, 64, 62, 117, 105, 159, 107, 171, 179, 79, 48, 69, 142, 186, 55, 124, 184, 124, 96, 100, 73, 60, 133, 69, 164, 91]
l.sort()
l.reverse()
print(l)

[199, 195, 189, 186, 184, 179, 171, 171, 171, 165, 164, 159, 142, 142, 137, 137, 133, 133, 124, 124, 117, 110, 109, 107, 105, 105, 100, 96, 96, 91, 91, 91, 87, 79, 73, 69, 69, 64, 63, 62, 60, 55, 55, 48, 41, 32, 24, 23, 22, 12]

In [74]:
#(3)
l.append(312)
print(l)

[199, 195, 189, 186, 184, 179, 171, 171, 171, 165, 164, 159, 142, 142, 137, 137, 133, 133, 124, 124, 117, 110, 109, 107, 105, 105, 100, 96, 96, 91, 91, 91, 87, 79, 73, 69, 69, 64, 63, 62, 60, 55, 55, 48, 41, 32, 24, 23, 22, 12, 312, 312, 312]

In [75]:
#(4)
l.count(91)

3

### Tuples

##### Referência

https://docs.python.org/3/library/stdtypes.html#tuples

##### .index()

In [77]:
t = (1,2,"oi")
t.index("oi")

2

### Dictionaries

In [78]:
d = {"k1" : 1, "k2" : 2}
d

{'k1': 1, 'k2': 2}

##### .keys()

In [80]:
list(d.keys())

['k1', 'k2']

##### .values()

In [82]:
list(d.values())

[1, 2]

##### .items()

In [87]:
d.items()

dict_items([('k1', 10), ('k2', 20), ('k3', 30)])

###### OBS.: Cuidado com o tipo de retorno

Dado o dicionário:

`{"k1" : 10, "k2" : 20, "k3" : 30}`

1-) Crie uma lista com apenas as chaves

2-) Crie uma lista com apenas os valores

3-) Use **`for loop`**  e  **`.items()`**  para criar um dicionário com as mesmas chaves e os valores ao quadrado

In [86]:
# (1)
d = {"k1" : 10, "k2" : 20, "k3" : 30}
list(d.keys())

['k1', 'k2', 'k3']

In [85]:
# (2)
list(d.values())

[1, 2]

In [22]:
#(3)
d1= {"k1" : 10, "k2" : 20, "k3" : 30}
d2 = {}

for (key, value) in d1.items():
    print(key)
    print(value)
    d2[key] = value**2
print(d2)

k1
10
k2
20
k3
30
{'k1': 100, 'k2': 400, 'k3': 900}

### Sets

##### Referência:
https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset

#### .add()

In [25]:
s = {1,2,3,4}
s.add(5)
s

{1, 2, 3, 4, 5}

#### .remove()

In [26]:
s = {1,3,4,6,7}
s.remove(4)
s

{1, 3, 6, 7}

#### .issubset()

In [29]:
s1 = {1,2,3,15}
s2 = {1,2,3,4,5,6}

s1.issubset(s2)

False

#### .isdisjoint()

In [31]:
s1.isdisjoint(s2)
s1= {1,2,3}
s2 = {4,5,6}
s1.isdisjoint(s2)

True

#### .intersection()

In [33]:
s1= {1,2,3,4}
s2 = {4,5,6}
s1.intersection(s2)

{4}

#### .difference()

In [35]:
s1= {1,2,3,4}
s2 = {4,5,6}
s2.difference(s1)

{5, 6}

### Exercício
Dados os sets:

`s1 = {0, 5, 7, 22, 24, 32, 34, 36, 52, 54, 55, 60, 63, 71, 77, 94, 126, 128, 133}`, 

`s2 = {7, 36, 57, 77}` e

`s3 = {150, 165, 290}`

1-) Verifique se existe algum `subset`

2-) Verifique se existe algum `disjoint`

3-) Quais os elementos que não correspondem entre `'disjoints'`

4-) Faça uma operação com `s1` para que não haja nenhum `disjoint` entre os sets

In [51]:
s1 = {0, 5, 7, 22, 24, 32, 34, 36, 52, 54, 55, 60, 63, 71, 77, 94, 126, 128, 133}
s2 = {7, 36, 57, 77}
s3 = {150, 165, 290}

print(s2.issubset(s1))
print(s3.issubset(s1))
print(10*"=")
print(s2.isdisjoint(s1))
print(s3.isdisjoint(s1))
print(10*"=")
print("todos")
print(10*"=")
s1.add(165)
print(s1)
print(10*"=")
print(s3.isdisjoint(s1))

False
False
==========
False
True
==========
todos
==========
{0, 32, 34, 128, 36, 5, 133, 7, 71, 165, 77, 52, 55, 22, 54, 24, 126, 60, 94, 63}
==========
False

# Classes

##### Assinatura

In [52]:
class Exemplo1(object):
    pass

##### Instanciação

In [53]:
inst = Exemplo1()
type(inst)

__main__.Exemplo1

##### Construtor

`def __init__(self)`

In [60]:
class Dog(object):
    
    attrClass = 3.14
    primeiro_nome = "o cachorro tem"
    
    def __init__(self, breed="breed_thousand"):
        self.breed = breed
        self.attr1 = breed.split("_")[1]

    def dormir(self):
        print("Eu estou dormindo")
        print(str(Dog.attrClass) + " " + self.breed)
        
breed_one = Dog()
print(breed_one.breed)
print(breed_one.attr1)

breed_one.dormir()

breed_thousand
thousand
Eu estou dormindo
3.14 breed_thousand

##### Métodos

In [19]:
class Nome_da_classe(object):
        def nome_do_metodo(self):
        pass
    pass

##### self keyword

In [20]:
class Nome_da_classe(object):
    def nome_do_metodo(self):
        pass
    pass

##### Atributos

In [18]:
def nome_do_metodo(self, param1):
    self.nome_do_atributo = valor_do_atributo
    pass

#### Atributos de classe

In [ ]:
class Nome_da_classe(object):
    atributo_de_classe = valor_do_atributo
    
    def metodo1(self):
        self.atributo_de_instancia = Nome_da_Classe.atributo de classe

### Exercício 1

Crie uma classe para cada tipo de triângulo:
```
1-) Equilátero => 3 lados iguais
2-) Isósceles => 2 lados iguais
3-) Reto => cateto + cateto + hipotenusa;
```

Os construtores devem conter o menor número de parâmetros possível;
Todas as classes devem conter um método chamado `area()` que calcula a área do triângulo;
Os objetos devem conter os seguintes atributos:

```
base, 
altura e 
hipotenusa => (quando Reto)
```

Dados:

$Hipotenusa = \sqrt{cateto1^2 + cateto2^2}$

$Altura = \frac{lado * \sqrt{3}}{2}$

$Area = \frac{base * altura}{2}$

In [61]:
class Equilatero(object):
    def __init__(self, lado):
        self.base = lado
        self.altura = lado * ( (3 ** 0.5) / 2 )

    def area(self):
        return self.base * self.altura /2

t1 = Equilatero(4)
t2 = Equilatero(5)

print(t1.area())
print(t2.area())

6.928203230275509

In [62]:
class Isosceles(object):
    def __init__(self, base, lado):
        self.base = base
        self.altura = lado * ( (3 ** 0.5) / 2 )
    
    def area(self):
        return self.base * self.altura /2
        
t2 = Isosceles(4,7)
print(t2.area())

12.12435565298214

In [69]:
class Reto(object):
    
    def __init__(self, cateto1, cateto2):
        self.base = cateto1
        self.altura = cateto2
        self.hipotenusa = ((self.base**2 + self.altura**2)**0.5)


    def area(self):
        return self.base * self.altura /2

t3 = Reto(7,5)
print(t3.area())
t3.altura

17.5

5

# Herança

In [81]:
class Animal(object):
    attrClass = "oi"
    
    def __init__(self):
        print("Animal created")


    def whoAmI(self):
        print("Animal")


    def eat(self):
        print("Eating")
        

class Dog(Animal):
    def __init__(self):
        print("Dog created")


    def whoAmI(self):
        print("Dog")


    def bark(self):
        print("Woof!")

dog = Dog()
dog.whoAmI()

Dog created
Dog

In [85]:
class Triangle(object):
    
    def area(self):
        return self.base * self.altura /2
    
class Reto(Triangle):  
    def __init__(self, cateto1, cateto2):
        self.base = cateto1
        self.altura = cateto2
        self.hipotenusa = ((self.base**2 + self.altura**2)**0.5)

class Equilatero(Triangle):
    def __init__(self, lado):
        self.base = lado
        self.altura = lado * ( (3 ** 0.5) / 2 )

t1 = Reto(5,7)
print(t1.area())

t2 = Equilatero(1)
print(t2.area())

17.5
0.4330127018922193

### Exercício

Crie uma classe `Improved_list` que possua todas as características da classe 'list' e um método novo chamado `square_me` que retorna uma nova lista com os elementos ao quadrado.

In [104]:
l1 = [1,2,3,4]
# print(type(l1))

class Improved_list(list):
    
    def __init__(self, lst):
        self.extend(lst)
        
    def square_me(self):
        return [item**2 for item in self]

l2 = Improved_list([1,2,3,4])
l2

[1, 2, 3, 4]

# Métodos especiais

### `__str__(self)`

In [131]:
class Dog(object):
        def __init__(self):
            print("Dog created")
        
        def whoAmI(self):
            print("Dog")


        def bark(self):
            print("Woof!")

        def __str__(self):
            return "Eu sou um cachorro"

dog = Dog()
print(dog)

Dog created
Eu sou um cachorro

### `__len__(self)`

In [130]:
class Dog(list):
    def __init__(self, size):
        self.size = size
        
    def whoAmI(self):
        print("Dog")

    def __len__(self):
        return self.size
    
dog = Dog(15)
print(len(dog))

15

### Exercício

Faça que a função `print()` do objeto `Reto` exiba: `"Isso é um triângulo reto de catetos ..."`

Faça que a função `len()` do objeto `Reto` exiba o valor da hipotenusa.

In [145]:
class Reto(Triangle):  
    def __init__(self, cateto1, cateto2):
        self.base = cateto1
        self.altura = cateto2
        self.hipotenusa = ((self.base**2 + self.altura**2)**0.5)

    def __str__(self):
        return "Isso é um triângulo reto de catetos " + str(self.base) + " e " + str(self.altura)

    def __len__(self):
        return int(self.hipotenusa)

t1 = Reto(3,4)
print(t1)
len(t1)

Isso é um triângulo reto de catetos 3 e 4

5

# Imports

#### Referência:
https://docs.python.org/3/py-modindex.html

### math

#### Referência:
https://docs.python.org/3/library/math.html

In [148]:
import math
math.log(10,10)

1.0

### random

#### Referência:
https://docs.python.org/3/library/random.html

In [158]:
import random as rd
l = [1,2,3,4]
rd.shuffle(l)
l
rd.randint(10,100)

85

### De um arquivo

In [160]:
import util
util.my_util()

My util