# Geral

Etherpad link: http://piratepad.net/vBYPhoe22O

##### Repositório:

https: https://github.com/tpetrone/tera_aula_4.git

ssh: git@github.com:tpetrone/tera_aula_4.git

##### Git commands:
`git clone url`

`cd tera_aula_4`

`jupyter notebook`

# range datatype

In [2]:
r = range(0,20)
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

### Exercício

Use For loop e range datatype para criar uma lista de 20 elementos onde cada elemento é o valor do seu índice acrescido de 5

In [3]:
l = []
for item in range(0,19):
    l.append(item + 5)
print(l)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]

# type() built-in function

atalhos:

métodos: `. + tab`

doc: `shift + tab`

In [12]:
# Playground

l = [1,2,3,4]
type(l)

list

# OOP em Python

##### Referência:
https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex

#### Anotações:

In [ ]:
# Playground

### Numbers

##### Referência
https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex

##### .is_integer() => float

In [16]:
x = 2.0
x.is_integer()

True

### Strings

#### Referência:
https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str

##### .find()

In [18]:
s = "adflsjwhjafjah"
s.find("w")
s[6]

'w'

##### .split()

In [23]:
s = "fdksaj klfds"
s = s.split(" ")
s

['fdksaj', 'klfds']

##### .upper()

In [25]:
s = "dflkasjffsldkja"
s.upper()

'DFLKASJFFSLDKJA'

##### .count()

In [28]:
s = "ksl;jgsdfg"
s.count(";")

1

### Exercícios

A partir da string (que também é uma sequência):

`"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in lorem ultricies ante tristique convallis non in nibh. Aenean congue imperdiet lacus ac suscipit. Donec vitae mauris eget tortor convallis sodales nec in arcu. Pellentesque finibus sapien ut nisl accumsan pulvinar. Praesent vestibulum lacinia tortor, gravida feugiat elit varius vel. Pellentesque viverra dignissim ullamcorper. Integer ac imperdiet magna. Quisque vehicula odio ac justo egestas, at bibendum sem ultrices. Duis eu risus vehicula, aliquam arcu non, porta felis. Fusce tristique tortor ut ante varius tincidunt. In augue urna, imperdiet sed pretium nec, feugiat ac justo. Suspendisse lacus massa, vestibulum ut ex eget, fringilla auctor orci. Nunc molestie tempus vulputate. Curabitur diam purus, imperdiet sed pretium et, pretium vitae nunc."`

1-) Identifique a posição da sequência em que há a ocorrência de `ull`

2-) Divida a string nessa posição

3-) Passe a primeira porção da string para letras maiúsculas e a segunda para minúsculas

4-) Conte quantas vezes a letra "r" aparece

In [40]:
s ="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in lorem ultricies ante tristique convallis non in nibh. Aenean congue imperdiet lacus ac suscipit. Donec vitae mauris eget tortor convallis sodales nec in arcu. Pellentesque finibus sapien ut nisl accumsan pulvinar. Praesent vestibulum lacinia tortor, gravida feugiat elit varius vel. Pellentesque viverra dignissim ullamcorper. Integer ac imperdiet magna. Quisque vehicula odio ac justo egestas, at bibendum sem ultrices. Duis eu risus vehicula, aliquam arcu non, porta felis. Fusce tristique tortor ut ante varius tincidunt. In augue urna, imperdiet sed pretium nec, feugiat ac justo. Suspendisse lacus massa, vestibulum ut ex eget, fringilla auctor orci. Nunc molestie tempus vulputate. Curabitur diam purus, imperdiet sed pretium et, pretium vitae nunc."
print(s.find("ull"))

s1 = s.split("ull")
print(s1)

print(s1[0].upper())
print(s1[1].lower())

print(s.count("r"))

387
['Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in lorem ultricies ante tristique convallis non in nibh. Aenean congue imperdiet lacus ac suscipit. Donec vitae mauris eget tortor convallis sodales nec in arcu. Pellentesque finibus sapien ut nisl accumsan pulvinar. Praesent vestibulum lacinia tortor, gravida feugiat elit varius vel. Pellentesque viverra dignissim ', 'amcorper. Integer ac imperdiet magna. Quisque vehicula odio ac justo egestas, at bibendum sem ultrices. Duis eu risus vehicula, aliquam arcu non, porta felis. Fusce tristique tortor ut ante varius tincidunt. In augue urna, imperdiet sed pretium nec, feugiat ac justo. Suspendisse lacus massa, vestibulum ut ex eget, fringilla auctor orci. Nunc molestie tempus vulputate. Curabitur diam purus, imperdiet sed pretium et, pretium vitae nunc.']
LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT. PELLENTESQUE IN LOREM ULTRICIES ANTE TRISTIQUE CONVALLIS NON IN NIBH. AENEAN CONGUE IMPERDIET LACUS AC SUSCIPIT. DONEC VITAE MAURIS EGET TORTOR CONVALLIS SODALES NEC IN ARCU. PELLENTESQUE FINIBUS SAPIEN UT NISL ACCUMSAN PULVINAR. PRAESENT VESTIBULUM LACINIA TORTOR, GRAVIDA FEUGIAT ELIT VARIUS VEL. PELLENTESQUE VIVERRA DIGNISSIM
amcorper. integer ac imperdiet magna. quisque vehicula odio ac justo egestas, at bibendum sem ultrices. duis eu risus vehicula, aliquam arcu non, porta felis. fusce tristique tortor ut ante varius tincidunt. in augue urna, imperdiet sed pretium nec, feugiat ac justo. suspendisse lacus massa, vestibulum ut ex eget, fringilla auctor orci. nunc molestie tempus vulputate. curabitur diam purus, imperdiet sed pretium et, pretium vitae nunc.
43

## Lists

##### Referência
https://docs.python.org/3/library/stdtypes.html#lists

##### .sort()

In [49]:
l = [1,5,6,8,3,5]
l.sort()
l

[1, 3, 5, 5, 6, 8]

##### .reverse()

In [50]:
l.reverse()
l

[8, 6, 5, 5, 3, 1]

##### .append()

In [51]:
l.append("cinco")
l

[8, 6, 5, 5, 3, 1, 'cinco']

##### .count()

In [52]:
l.count(5)

2

##### .extend()

In [54]:
l.extend([1,3,4,5])
l

[8, 6, 5, 5, 3, 1, 'cinco', 1, 3, 4, 5, 1, 3, 4, 5]

#### Exercício

Dada a lista: 

`[171, 137, 32, 105, 87, 23, 195, 24, 63, 91, 41, 91, 55, 171, 96, 12, 109, 110, 199, 142, 133, 22, 165, 189, 137, 64, 62, 117, 105, 159, 107, 171, 179, 79, 48, 69, 142, 186, 55, 124, 184, 124, 96, 100, 73, 60, 133, 69, 164, 91]`

1-) Coloque a lista em ordem crescente

2-) Coloque a lista em ordem decrescente

3-) Adicione o elemento `312`

4-) Conte quantas vezes o número `91` aparece nessa sequência

In [61]:
#(1)
l = [171, 137, 32, 105, 87, 23, 195, 24, 63, 91, 41, 91, 55, 171, 96, 12, 109, 110, 199, 142, 133, 22, 165, 189, 137, 64, 62, 117, 105, 159, 107, 171, 179, 79, 48, 69, 142, 186, 55, 124, 184, 124, 96, 100, 73, 60, 133, 69, 164, 91]
l.sort()
print(l)

[12, 22, 23, 24, 32, 41, 48, 55, 55, 60, 62, 63, 64, 69, 69, 73, 79, 87, 91, 91, 91, 96, 96, 100, 105, 105, 107, 109, 110, 117, 124, 124, 133, 133, 137, 137, 142, 142, 159, 164, 165, 171, 171, 171, 179, 184, 186, 189, 195, 199]

In [71]:
#(2)
l = [171, 137, 32, 105, 87, 23, 195, 24, 63, 91, 41, 91, 55, 171, 96, 12, 109, 110, 199, 142, 133, 22, 165, 189, 137, 64, 62, 117, 105, 159, 107, 171, 179, 79, 48, 69, 142, 186, 55, 124, 184, 124, 96, 100, 73, 60, 133, 69, 164, 91]
l.sort()
l.reverse()
print(l)

[199, 195, 189, 186, 184, 179, 171, 171, 171, 165, 164, 159, 142, 142, 137, 137, 133, 133, 124, 124, 117, 110, 109, 107, 105, 105, 100, 96, 96, 91, 91, 91, 87, 79, 73, 69, 69, 64, 63, 62, 60, 55, 55, 48, 41, 32, 24, 23, 22, 12]

In [74]:
#(3)
l.append(312)
print(l)

[199, 195, 189, 186, 184, 179, 171, 171, 171, 165, 164, 159, 142, 142, 137, 137, 133, 133, 124, 124, 117, 110, 109, 107, 105, 105, 100, 96, 96, 91, 91, 91, 87, 79, 73, 69, 69, 64, 63, 62, 60, 55, 55, 48, 41, 32, 24, 23, 22, 12, 312, 312, 312]

In [75]:
#(4)
l.count(91)

3

### Tuples

##### Referência

https://docs.python.org/3/library/stdtypes.html#tuples

##### .index()

In [77]:
t = (1,2,"oi")
t.index("oi")

2

### Dictionaries

In [78]:
d = {"k1" : 1, "k2" : 2}
d

{'k1': 1, 'k2': 2}

##### .keys()

In [80]:
list(d.keys())

['k1', 'k2']

##### .values()

In [82]:
list(d.values())

[1, 2]

##### .items()

In [87]:
d.items()

dict_items([('k1', 10), ('k2', 20), ('k3', 30)])

###### OBS.: Cuidado com o tipo de retorno

Dado o dicionário:

`{"k1" : 10, "k2" : 20, "k3" : 30}`

1-) Crie uma lista com apenas as chaves

2-) Crie uma lista com apenas os valores

3-) Use **`for loop`**  e  **`.items()`**  para criar um dicionário com as mesmas chaves e os valores ao quadrado

In [86]:
# (1)
d = {"k1" : 10, "k2" : 20, "k3" : 30}
list(d.keys())

['k1', 'k2', 'k3']

In [85]:
# (2)
list(d.values())

[1, 2]

In [93]:
#(3)
d1= {"k1" : 10, "k2" : 20, "k3" : 30}
d2 = {}

for (key, value) in d1.items():
    print(key)
    print(value)
    d2[key] = value**2
print(d2)

k1
10
k2
20
k3
30
{'k1': 100, 'k2': 400, 'k3': 900}

### Sets

##### Referência:
https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset

#### .add()

#### .remove()

#### .issubset()

#### .isdisjoint()

#### .intersection()

#### .difference()

### Exercício
Dados os sets:

`s1 = {0, 5, 7, 22, 24, 32, 34, 36, 52, 54, 55, 60, 63, 71, 77, 94, 126, 128, 133}`, 

`s2 = {7, 36, 57, 77}` e

`s3 = {150, 165, 290}`

1-) Verifique se existe algum `subset`

2-) Verifique se existe algum `disjoint`

3-) Quais os elementos que não correspondem entre `'disjoints'`

4-) Faça uma operação com `s1` para que não haja nenhum `disjoint` entre os sets

# Classes

##### Assinatura

In [94]:
class Exemplo(object):
    pass

##### Instanciação

In [98]:
inst = Exemplo()
type(inst)

__main__.Exemplo

##### Construtor

`def __init__(self)`

In [112]:
class Dog(object):
    
    attrClass = 3.14
    
    def __init__(self, breed):
        self.breed = breed
        self.attr1 = breed.split("_")[1]
#         print("eu sou um construtor")

    def dormir(self):
        print("Eu estou dormindo")
        
inst1 = Dog("breed_one")

inst1.dormir()

Eu estou dormindo

##### self keyword

##### Atributos

#### Atributos de classe

##### Métodos

### Exercício 1

Crie uma classe para cada tipo de triângulo:
```
1-) Equilátero => 3 lados iguais
2-) Isósceles => 2 lados iguais
3-) Reto => cateto + cateto + hipotenusa;
```

Os construtores devem conter o menor número de parâmetros possível;
Todas as classes devem conter um método chamado `area()` que calcula a área do triângulo;
Os objetos devem conter os seguintes atributos:

```
base, 
altura e 
hipotenusa => (quando Reto)
```

Dados:

$Hipotenusa = \sqrt{cateto1^2 + cateto2^2}$

$Altura = \frac{lado * \sqrt{3}}{2}$

$Area = \frac{base * altura}{2}$

# Herança

#### Method override

### Exercício

Crie uma classe `Improved_list` que possua todas as características da classe 'list' e um método novo chamado `square_me` que retorna uma nova lista com os elementos ao quadrado.

# Métodos especiais

### `__str__(self)`

### `__len__(self)`

### Exercício

Faça que a função `print()` do objeto `Equilatero` exiba: `"Isso é um triângulo equilátero de lado ..."`

Faça que a função `len()` do objeto `Reto` exiba o valor da hipotenusa.

# Imports

#### Referência:
https://docs.python.org/3/py-modindex.html

### math

#### Referência:
https://docs.python.org/3/library/math.html

### random

#### Referência:
https://docs.python.org/3/library/random.html

### request

#### Referência:
http://docs.python-requests.org/en/master/